h1 {
	color: #0066ff;
	text-align: center;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	padding-top: 130px;
	padding-bottom: 25px;
	letter-spacing: 4px;
}

body {
	background-image: url("rawpixel-com-191102-unsplash.jpg");
	background-size: cover;
	background-repeat: no-repeat;

}

input {
	height: 30px;
	font-family: 'IBM Plex Sans Condensed', sans-serif;
	font-size: 20px;
	text-align: center;
}

button {
	margin-top: 20px;
	font-size: 16px;

}

p {
	text-align: center;
	color: black;
	padding-bottom: 10px;
	border-color: black;
}